:root {
    --very-dark-blue--mainBG: #0D192C;
    --ver-dark-blue--cardBG: #15263F;
    --very-dark-blue--line: #2E405A;
    --cyan: #00FFF8;
    --soft-blue: #8BACD9;
}
html{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
}
*,*:before,*:after{
    box-sizing: inherit;
}
body{
    font-family: 'Outfit', sans-serif;
    font-size: 1.8rem;
    line-height: 2rem;
    background-color: var(--very-dark-blue--mainBG);
}
/* Globales */
.container{
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: var(--cyan);
}
a:visited{
    color: var(--cyan);
}
img{
    max-width: 100%;
}
/* Utilities */
.white__text{
    color: white;
}
.soft-blue__text{
    color: var(--soft-blue);
}
.cyan__text{
    color: var(--cyan);
}
.weight-300{
    font-weight: 300;
}
.weight-400{
    font-weight: 400;
}
.weight-600{
    font-weight: 600;
}
.hover-text:hover{
    color: var(--cyan);
    cursor: pointer;
}
.nft-preview-container{
    margin: 4rem auto;
    width: 32.7rem;
    height: 54.3rem;
    background-color: var(--ver-dark-blue--cardBG);
    padding: 2.4rem;
    border-radius: 1.5rem;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.0952917);
}
.nft-image-container{
    width: 27.8rem;
    height: 27.8rem;
}
.nft-image{
    border-radius: 0.8rem;
}
.view_nft{
    position: absolute;
    width: 27.8rem;
    height: 27.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.8rem;
    opacity: 1;
}
.view_nft:hover{
    cursor: pointer;
    background-color: rgba(0, 255, 248, 0.5);
    background-image: url('./images/icon-view.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.nft-info__price-date{
    display: flex;
    justify-content: space-between;
}
.nft-creator{
    display: flex;
    gap: 1.6rem;
    align-items: center;
}
.nft-creator img{
    width: 3.3rem;
    height: 3.3rem;
    border: 1px solid white;
    border-radius: 2rem;
}
.attribution{
    text-align: center;
    color: white;
}